body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: rgb(92, 56, 102);
  background-color: yellow;
}

.img {
  width: 200px;
  height: auto;
  display: block;
  border: 1px solid black;
}