body {
  font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
  background-color: tomato;
  margin-bottom: 0px;
}

.zodiac {
  background-color: rgb(221, 221, 221);
}

h1 {
  color: white;
  background-color: tomato;
  width: 70%;
}

.img {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 1px solid black;
}

a:link, a:visited {
  color:tomato;
}

a:hover {
  color: rgb(116, 118, 119);
}

.info {
  width: 60%;
}

.navbar {
  width: 70%;
}